h1 {
  border: solid 5px white;
  color: coral;
}
p {
  text-align: center;
  color: white;
}
h2 {

  color: white;
}
a {
  color: lightgreen;
  text-shadow: 0.25px 0.25px white;
}

body {
  background-color: navy;
}

h3 {
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;

}

code {
  color: white;
  text-align: center;
}

script {
  color: white;
}
#output {
  color: white;
}
